@import "./variables-mixins.scss";

.about-section {
  height: 100vh;
  display: flex;
  position: relative;
  .col-sm-6 {
    flex: 50%;
    padding: 48px;
    &.title-section {
      color: $white;
      position: relative;
      .about-details-wrap {
        position: relative;
        top: 45%;
        // transform: translateY(-50%);
        text-align: center;
        .profile-container {
          background: $purple;
          height: 132px;
          width: 132px;
          border-radius: 50%;
          margin: 10% auto 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .profile-image {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            z-index: 1;
          }
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            background: inherit;
            border-radius: 50%;
          }
          span:nth-child(1) {
            filter: blur(7px);
          }
          span:nth-child(2) {
            filter: blur(14px);
          }
        }
      }
    }
    .content-container {
      padding: 32px;
      h3 {
        margin-bottom: 24px;
      }
      a {
        color: $purple;
        &:hover {
          color: $dark-purple;
        }
      }
    }
  }
}
