@import "./variables-mixins.scss";

@media (min-width: 768px) {
  .about-section {
    .title-section {
      width: 50% !important;
      float: left !important;
    }
    .content-section {
      width: 50%;
      float: right;
    }
  }
}

.about-section {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .title-section {
    z-index: 99;
  }
}

.about-section {
  .sticky-outer-wrapper {
    height: 0 !important;
  }
}

.about-section {
  .title-section {
    height: 100vh;
    background-color: $black;
    background-image: url(../assets/brick-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    position: relative;
    .title-wrapper {
      position: relative;
      top: 40%;
      .title-container {
        position: relative;

        text-align: center;
      }
      .profile-container {
        background: $primary-purple;
        height: 132px;
        width: 132px;
        border-radius: 50%;
        margin: 2rem auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .profile-image {
          height: 120px;
          width: 120px;
          border-radius: 50%;
          z-index: 1;
        }
        @media (min-width: 992px) {
          height: 148px;
          width: 148px;
          .profile-image {
            height: 136px;
            width: 136px;
          }
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          width: 100%;
          background: inherit;
          border-radius: 50%;
        }
        span:nth-child(1) {
          filter: blur(10px);
        }
        span:nth-child(2) {
          filter: blur(20px);
        }
        span:nth-child(3) {
          filter: blur(40px);
        }
        span:nth-child(4) {
          filter: blur(80px);
        }
      }
    }
    &:before {
      content: " ";
      position: absolute;
      inset: 0;
      width: 100%;
      display: block;
      height: 100%;
      background: $black;
      opacity: 0.6;
    }
  }
}

.about-section {
  .content-section {
    .content-container {
      padding: 13% 10%;
      @media (max-width: 767px) {
        padding: 6rem 2.5rem;
      }
      h3 {
        margin-bottom: 24px;
      }
      a {
        color: $primary-purple;
        &:hover {
          color: $dark-purple;
        }
      }
    }
  }
}
