@import "./variables-mixins.scss";

@media (min-width: 768px) {
  .contact-section {
    display: flex;
    height: 100vh;
    .col-sm-6 {
      flex: 50%;
      &.title-section {
        &::before {
          width: 50vw;
        }
      }
    }
  }
}

.contact-section {
  .title-section {
    padding: 0;
    background-color: $primary-purple;
    color: $white;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      opacity: 0.9;
      mix-blend-mode: soft-light;
      animation: grain 0.4s steps(1) infinite;
      height: 100vh;
      background-image: url(../assets/noise-256w.png);
    }
    .title-wrapper {
      height: 100vh;
      padding: 48px;
      .title-container {
        position: relative;
        top: 40%;
        text-align: center;
      }
    }
  }
}

@keyframes grain {
  0%,
  100% {
    background-position: 0 0;
  }
  20% {
    background-position: 50% 50%;
  }
  40% {
    background-position: 25% 25%;
  }
  60% {
    background-position: 75% 75%;
  }
  80% {
    background-position: 0% 100%;
  }
}

.contact-section {
  .content-section {
    height: 100vh;
    .content-container {
      padding: 13% 10%;
      @media (max-width: 767px) {
        padding: 6rem 2.5rem;
      }
      .signature {
        font-weight: 700;
      }
      p {
        padding-top: 32px;
        &.title {
          padding-top: 16px;
          margin-bottom: 4px;
        }
      }
      a {
        color: $primary-purple;
        &:hover {
          color: $dark-purple;
        }
      }
    }
  }
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  margin: 3em -1.2em;
  .btn {
    display: flex;
    font-size: clamp(16px, 1.2rem, 24px);
    min-width: 3.8em;
    min-height: 3.8em;

    background-color: #fafafa;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 8px;
    a {
      height: 100%;
      width: 100%;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: clamp(18px, 1.5rem, 28px);
      }
    }
  }
  .btn {
    &.ln-btn {
      box-shadow: 0 20px 20px -17px rgba(14, 118, 168, 0.6);
      a {
        color: #0e76a8 !important;
        svg {
          filter: drop-shadow(1px 1px 8px #0e76a8);
        }
      }
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 30px 45px -15px rgba(14, 118, 168, 0.7);
      }
    }
    &.gh-btn {
      box-shadow: 0 20px 20px -17px rgba(9, 1, 8, 0.6);
      a {
        color: #090108 !important;
        svg {
          filter: drop-shadow(1px 1px 8px #090108);
        }
      }
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 30px 45px -15px rgba(9, 1, 8, 0.7);
      }
    }
    &.gm-btn {
      box-shadow: 0 20px 20px -17px rgba(176, 38, 255, 0.6);
      a {
        color: #b026ff !important;
        svg {
          filter: drop-shadow(1px 1px 8px #b026ff);
        }
      }
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 30px 45px -15px rgba(176, 38, 255, 0.7);
      }
    }
  }
}
