@import "./variables-mixins.scss";

.contact-section {
  height: 100vh;
  display: flex;
  position: relative;
  .col-sm-6 {
    flex: 50%;
    &.title-section {
      color: $white;
      position: relative;
      .title-container {
        position: relative;
        top: 45%;
        // transform: translateY(-50%);
        text-align: center;
      }
    }
    .content-container {
      padding: 80px;
      a {
        color: $purple;
        &:hover {
          color: $dark-purple;
        }
      }
    }
  }
}

.contact-section {
  .title-section {
    padding: 0;
    &::before {
      content: "";
      position: absolute;
      opacity: 0.9;
      mix-blend-mode: soft-light;
      animation: grain 0.4s steps(1) infinite;
      height: 100vh;
      width: 50vw;
      background-image: url(../images/noise-256w.png);
    }
    .title-wrapper {
      height: 100vh;
      padding: 48px;
    }
  }
  .content-container {
    .signature {
      font-size: 22px;
      font-weight: 700;
    }
    p {
      padding-top: 32px;
      &.title {
        padding-top: 16px;
        margin-bottom: 4px;
      }
    }
  }
}

@keyframes grain {
  0%,
  100% {
    background-position: 0 0;
  }
  20% {
    background-position: 50% 50%;
  }
  40% {
    background-position: 25% 25%;
  }
  60% {
    background-position: 75% 75%;
  }
  80% {
    background-position: 0% 100%;
  }
}
