@import './variables-mixins.scss';

.hero-section {
  overflow: hidden;
  .menu-container ul {
    color: white;
    @media (max-width: 576px) {
      li {
        &:not(:first-child) {
          &:before {
            padding: 0 0.4rem;
          }
        }
        a {
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }
}

.hero-section {
  background-color: $black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    height: 94vh;
  }
  .outer-box {
    height: 90%;
    width: 95%;
    @media (max-width: 576px) {
      height: 90%;
      width: 88%;
    }
    @media (max-width: 768px) {
      height: 92%;
      width: 90%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .outerlightbar {
      position: absolute;
      z-index: 10;
      background: #fff;
      box-shadow: 0 0 10px $neon-blue, 0 0 20px $neon-blue, 0 0 40px $neon-blue,
        0 0 80px $neon-blue, 0 0 160px $neon-blue;
      &.bar1 {
        left: 0;
        bottom: 0;
        width: 3px;
        height: 100%;
        animation: outerlightbar1 4s ease-in-out forwards;
        transform-origin: 0 100%;
      }
      &.bar2 {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        animation: outerlightbar2 5s ease-in-out forwards;
        transform-origin: 100% 0;
      }
      &.bar3 {
        top: 0px;
        right: 0;
        width: 3px;
        height: 100%;
        animation: outerlightbar3 4s ease-in-out forwards;
        transform-origin: 100% 0;
      }
      &.bar4 {
        top: 0;
        width: 100%;
        height: 3px;
        animation: outerlightbar4 5s ease-in-out forwards;
        transform-origin: 0 100%;
      }
    }
  }
}

@keyframes outerlightbar1 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes outerlightbar2 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes outerlightbar3 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes outerlightbar4 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(100%);
  }
}

.hero-section {
  .inner-box {
    height: 86%;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 576px) {
      height: 90%;
      width: 86%;
    }
    @media (max-width: 768px) {
      height: 92%;
      width: 88%;
    }
    position: relative;
    .innerlightbar {
      position: absolute;
      background: #fff;
      box-shadow: 0 0 10px $neon-pink, 0 0 20px $neon-pink, 0 0 40px $neon-pink,
        0 0 80px $neon-pink, 0 0 160px $neon-pink;
      &.bar1 {
        left: 0;
        bottom: 0;
        width: 3px;
        height: 100%;
        animation: innerlightbar1 3s ease-in-out forwards;
        transform-origin: 0 0;
      }
      &.bar2 {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        animation: innerlightbar2 4s ease-in-out forwards;
        transform-origin: 0 100%;
      }
      &.bar3 {
        top: 0px;
        right: 0;
        width: 3px;
        height: 100%;
        animation: innerlightbar3 3s ease-in-out forwards;
        transform-origin: 0 100%;
      }
      &.bar4 {
        top: 0;
        width: 100%;
        height: 3px;
        animation: innerlightbar4 4s ease-in-out forwards;
        transform-origin: 100% 0;
      }
    }
  }
}

@keyframes innerlightbar1 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes innerlightbar2 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes innerlightbar3 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes innerlightbar4 {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(100%);
  }
}

.hero-section {
  .inner-box {
    h2 {
      font-size: clamp(34px, 3vw, 50px);
      margin-bottom: 1rem;
      font-weight: 700;
    }
    .hero-content-section {
      @media (min-width: 576px) {
        min-width: 33rem;
      }
      @media (min-width: 1510px) {
        min-width: 35rem;
      }
      position: relative;
      color: white;
      text-align: center;
      letter-spacing: 0.1em;
      padding: 4rem 3rem;
      margin-bottom: 2.5rem;
      text-shadow: 0 0 10px $primary-purple, 0 0 20px $primary-purple,
        0 0 40px $primary-purple, 0 0 80px $primary-purple,
        0 0 160px $primary-purple;
      animation: animateopacity 4s ease-in forwards;
    }

    @media (min-width: 576px) {
      .lightbarcontent {
        position: absolute;
        top: 0;
        left: 0;
        width: 0.5rem;
        height: 100%;
        border-radius: 10px;
        background: white;
        z-index: 2;
        box-shadow: 0 0 10px $primary-purple, 0 0 20px $primary-purple,
          0 0 40px $primary-purple, 0 0 80px $primary-purple,
          0 0 160px $primary-purple;
        animation: animatelightbarcontent 5s linear infinite;
        animation-delay: 3s;
      }
    }
    @media (min-width: 1510px) {
      .lightbarcontent {
        position: absolute;
        top: 0;
        left: 0;
        width: 0.5rem;
        height: 100%;
        border-radius: 10px;
        background: white;
        z-index: 2;
        box-shadow: 0 0 10px $primary-purple, 0 0 20px $primary-purple,
          0 0 40px $primary-purple, 0 0 80px $primary-purple,
          0 0 160px $primary-purple;
        animation: animatelightbarcontent1510 5s linear infinite;
        animation-delay: 3s;
      }
    }
    .coverlayer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      @media (min-width: 576px) {
        animation: animatecoverlayer 10s linear infinite;
        animation-delay: 3s;
        background: $black;
        // background: green;
      }
      @media (min-width: 1510px) {
        animation: animatecoverlayer1510 10s linear infinite;
        animation-delay: 3s;
        background: $black;
        // background: orange;
      }
    }
  }
}

@keyframes animateopacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animatelightbarcontent {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(calc(33rem - 0.5rem));
  }
  95%,
  100% {
    transform: scaleY(0) translateX(calc(33rem - 0.5rem));
  }
}

@keyframes animatelightbarcontent1510 {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(calc(35rem - 0.5rem));
  }
  95%,
  100% {
    transform: scaleY(0) translateX(calc(35rem - 0.5rem));
  }
}

@keyframes animatecoverlayer {
  0%,
  2.5% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(100%);
  }
  47.5%,
  50% {
    transform: translateX(100%);
  }
  50.001%,
  52.5% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0%);
  }
  97.5%,
  100% {
    transform: translateX(0%);
  }
}

@keyframes animatecoverlayer1510 {
  0%,
  2.5% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  46.5% {
    transform: translateX(100%);
  }
  47.5%,
  50% {
    transform: translateX(100%);
  }
  50.001%,
  52.5% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  96.5% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
