@import "./variables-mixins.scss";

.menu-container {
  position: absolute;
  bottom: 48px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0.5rem 0;
      &:not(:first-child) {
        &:before {
          content: "/";
          padding: 0 1rem;
        }
      }
      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        padding-bottom: 8px;
        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }
  li {
    font-size: clamp(16px, 1vw, 24px);
    a {
      font-size: clamp(16px, 1vw, 24px);
    }
  }
}
