@import "./variables-mixins.scss";

.menu-container {
  text-align: center;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 8px 0px;
      &:not(:first-child) {
        &:before {
          content: "/";
          padding: 0px 16px;
        }
      }
      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        padding-bottom: 8px;
        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }
}
