$dark-purple: #551a8b;
$electric-purple: #8703f4;
//primary purple - neon purple
$purple: #b026ff;
$black: #090108;
$white: #ffffff;

h2 {
  font-size: 36px;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 4px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

.bckgrd-purple {
  background-color: $purple;
}

.bckgrd-black {
  // background-color: #131313;
  background-color: #262626;
}

.bckgrd-white {
  background-color: $white;
}
