$dark-purple: #551a8b;
$electric-purple: #8703f4;
$neon-blue: #4d4dff;
$neon-pink: #ff26e2;
$primary-purple: #b026ff;
$black: #090108;
$white: #ffffff;

h1 {
  font-size: clamp(36px, 5vw, 80px);
}

h2 {
  // font-size: 36px;
  font-size: clamp(36px, 4vw, 54px);
  font-weight: 800;
  &.neon-sign {
    font-family: "Satisfy", cursive;
    font-size: clamp(60px, 12vh, 130px);
    color: hsl(240, 68%, 95%);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 2em $primary-purple,
      0 0 1em $primary-purple, 0 0 0.2em $primary-purple, 0 10px 3px #000;
    font-weight: normal;
    span {
      animation: blink linear infinite 2s;
    }
    span:nth-of-type(2) {
      animation: blink linear infinite 3s;
    }
  }
  &.section-title {
    font-family: "Satisfy", cursive;
    font-size: clamp(80px, 12vh, 120px);
    font-weight: normal;
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

h3 {
  // font-size: 24px;
  font-size: clamp(22px, 2vw, 26px);
  font-weight: 800;
  margin-bottom: 4px;
  &.outline-shadow-effect {
    // font-size: 32px;
    font-size: clamp(28px, 3vw, 36px);
    font-weight: 700;
    color: #fafafa;
    letter-spacing: 3px;
    text-shadow: -1.5px 1.5px 0 #603f83, 1.5px 1.5px 0 #663dff,
      1.5px -1.5px 0 #aa00ff, -1.5px -1.5px 0 #527df3;
  }
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: clamp(16px, 1vw, 24px);
  font-weight: 400;
  margin-bottom: 32px;
}

a {
  font-size: clamp(16px, 1vw, 24px);
}

.clearfix {
  overflow: auto;
}
