$purple: #852ed9;
$black: #090108;
$white: #ffffff;

.work-section {
  height: 100vh;
  display: flex;
  position: relative;
  .col-sm-6 {
    flex: 50%;
    &.title-section {
      color: $purple;
      padding: 48px;
      .title-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
      }
    }
    .menu-container {
      position: relative;
      top: calc(100% - 73px);
      text-align: center;
      ul li a {
        color: $purple;
        &:hover {
          border-bottom: 2px solid $purple;
        }
      }
    }
  }
  .project-item-container {
    // background-image: url(../Images/project-gmmb.jpeg);
    background-image: url(../Images/project-acaai.jpeg);
    height: 100%;
    background-position: center;
    background-size: cover;
    .project-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      position: relative;
      top: 30%;
    }
  }
}
