html {
  scroll-behavior: smooth;
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    font-size: 4px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 1.2em;
}

::-webkit-scrollbar-track {
  background: #090108;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #663dff 0%, #aa00ff 50%, #cc4499 100%);
  border: 0.25em solid #090108;
  border-radius: 100vw;
}
